.u-section-1 {  
    background-position: 50% 50%;
    min-height: 848px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    margin: 100px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 489px);
  }
  
  .u-section-1 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin: 214px auto 0 calc(((100% - 1140px) / 2));
  }
  
  .u-section-1 .u-group-1 {
    min-height: 191px;
    background-image: none;
    margin-top: 121px;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .u-section-1 .u-text-2 {
    margin: 39px 0 0;
  }
  
  @media (max-width: 1199px) {
     .u-section-1 {
      min-height: 699px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: calc(((100% - 1140px) / 2) + 100px);
      margin-left: calc(((100% - 1140px) / 2) + 389px);
    }
  
    .u-section-1 .u-icon-1 {
      margin-left: calc(((100% - 1140px) / 2) + 100px);
    }
  
    .u-section-1 .u-group-1 {
      margin-top: 60px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-1 {
      min-height: 535px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: calc(((100% - 1140px) / 2) + 210px);
      margin-left: calc(((100% - 1140px) / 2) + 279px);
    }
  
    .u-section-1 .u-icon-1 {
      margin-left: calc(((100% - 1140px) / 2) + 210px);
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-1 {
      min-height: 401px;
    }
  
    .u-section-1 .u-text-1 {
      margin-left: calc(((100% - 1140px) / 2) + 300px);
      margin-right: calc(((100% - 1140px) / 2) + 300px);
    }
  
    .u-section-1 .u-icon-1 {
      margin-left: calc(((100% - 1140px) / 2) + 300px);
    }
  
    .u-section-1 .u-group-1 {
      margin-top: 131px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-1 {
      min-height: 252px;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
      font-size: 1.875rem;
      margin-top: 176px;
      margin-left: calc(((100% - 1140px) / 2) + 400px);
      margin-right: calc(((100% - 1140px) / 2) + 400px);
    }
  
    .u-section-1 .u-icon-1 {
      margin-top: 138px;
      margin-left: calc(((100% - 1140px) / 2) + 400px);
    }
  
    .u-section-1 .u-group-1 {
      margin-top: 60px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 623px;
  }
  
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    font-weight: 700;
    width: 640px;
    margin: 60px auto 0;
  }
  
  .u-section-2 .u-line-1 {
    width: 74px;
    transform-origin: left center;
    height: 3px;
    margin: 30px auto 0;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin: 30px auto 60px 0;
  }
  
  .u-section-2 .u-layout-cell-1 {
    background-position: 0% 0%;
    min-height: 172px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px 0;
  }
  
  .u-section-2 .u-icon-1 {
    height: 64px;
    width: 64px;
    border-radius: 10px;
    margin: 0 auto;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 222px;
    background-position: 0% 0%;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-2 .u-text-3 {
    margin: 20px 0 0;
  }
  
  .u-section-2 .u-layout-cell-3 {
    background-position: 0% 0%;
    min-height: 172px;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 30px 0;
  }
  
  .u-section-2 .u-icon-2 {
    height: 64px;
    width: 64px;
    border-radius: 10px;
    margin: 0 auto;
  }
  
  .u-section-2 .u-layout-cell-4 {
    min-height: 222px;
    background-position: 0% 0%;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding: 30px 30px 30px 31px;
  }
  
  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-2 .u-text-5 {
    margin: 13px 0 0;
  }
  
  .u-section-2 .u-layout-cell-5 {
    background-position: 0% 0%;
    min-height: 172px;
  }
  
  .u-section-2 .u-container-layout-5 {
    padding: 30px 0;
  }
  
  .u-section-2 .u-icon-3 {
    height: 64px;
    width: 64px;
    border-radius: 10px;
    margin: 0 auto;
  }
  
  .u-section-2 .u-layout-cell-6 {
    min-height: 172px;
    background-position: 0% 0%;
  }
  
  .u-section-2 .u-container-layout-6 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 3px 0 0;
  }
  
  .u-section-2 .u-text-7 {
    margin: 13px 3px 0 0;
  }
  
  .u-section-2 .u-layout-cell-7 {
    min-height: 172px;
    background-position: 0% 0%;
  }
  
  .u-section-2 .u-container-layout-7 {
    padding: 30px 0;
  }
  
  .u-section-2 .u-icon-4 {
    height: 64px;
    width: 64px;
    border-radius: 10px;
    margin: 0 auto;
  }
  
  .u-section-2 .u-layout-cell-8 {
    min-height: 172px;
    background-position: 0% 0%;
  }
  
  .u-section-2 .u-container-layout-8 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-2 .u-text-9 {
    margin: 13px 0 0;
  }
  
  .u-section-2 .u-layout-cell-9 {
    min-height: 172px;
    background-position: 0% 0%;
  }
  
  .u-section-2 .u-container-layout-9 {
    padding: 30px 0;
  }
  
  .u-section-2 .u-icon-5 {
    height: 64px;
    width: 64px;
    border-radius: 10px;
    margin: 0 auto;
  }
  
  .u-section-2 .u-layout-cell-10 {
    min-height: 172px;
    background-position: 0% 0%;
  }
  
  .u-section-2 .u-container-layout-10 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-10 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-2 .u-text-11 {
    margin: 13px 0 0;
  }
  
  .u-section-2 .u-layout-cell-11 {
    min-height: 172px;
    background-position: 0% 0%;
  }
  
  .u-section-2 .u-container-layout-11 {
    padding: 30px 0;
  }
  
  .u-section-2 .u-icon-6 {
    height: 64px;
    width: 64px;
    border-radius: 10px;
    margin: 0 auto;
  }
  
  .u-section-2 .u-layout-cell-12 {
    min-height: 172px;
    background-position: 0% 0%;
  }
  
  .u-section-2 .u-container-layout-12 {
    padding: 30px;
  }
  
  .u-section-2 .u-text-12 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-2 .u-text-13 {
    margin: 13px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 514px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 142px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 183px;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 142px;
    }
  
    .u-section-2 .u-layout-cell-4 {
      min-height: 183px;
    }
  
    .u-section-2 .u-layout-cell-5 {
      min-height: 142px;
    }
  
    .u-section-2 .u-layout-cell-6 {
      min-height: 142px;
    }
  
    .u-section-2 .u-text-6 {
      margin-right: auto;
    }
  
    .u-section-2 .u-text-7 {
      margin-right: auto;
    }
  
    .u-section-2 .u-layout-cell-7 {
      min-height: 142px;
    }
  
    .u-section-2 .u-layout-cell-8 {
      min-height: 142px;
    }
  
    .u-section-2 .u-layout-cell-9 {
      min-height: 142px;
    }
  
    .u-section-2 .u-layout-cell-10 {
      min-height: 142px;
    }
  
    .u-section-2 .u-layout-cell-11 {
      min-height: 142px;
    }
  
    .u-section-2 .u-layout-cell-12 {
      min-height: 142px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 394px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-4 {
      min-height: 100px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 30px;
    }
  
    .u-section-2 .u-layout-cell-5 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-6 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-7 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-8 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-9 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-10 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-11 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-12 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 296px;
    }
  
    .u-section-2 .u-text-1 {
      width: 540px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-right: 10px;
      padding-left: 10px;
    }
  
    .u-section-2 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-text-6 {
      width: 120px;
      margin-left: auto;
    }
  
    .u-section-2 .u-text-7 {
      margin-left: 5px;
      margin-right: 5px;
    }
  
    .u-section-2 .u-container-layout-8 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-10 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-12 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 186px;
    }
  
    .u-section-2 .u-text-1 {
      width: 340px;
    }
  
    .u-section-2 .u-text-7 {
      margin-right: auto;
      margin-left: auto;
    }
  } .u-section-3 {
    background-image: url("images/pexels-photo-5646794.jpeg");
    background-position: 0% 85.18%;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 712px;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 225px;
    margin-bottom: 60px;
  }
  
  .u-section-3 .u-layout-cell-1 {
    min-height: 420px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-3 .u-image-1 {
    width: 300px;
    height: 300px;
    background-position: 50% 50%;
    margin: 0 auto;
  }
  
  .u-section-3 .u-layout-cell-2 {
    min-height: 420px;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    font-weight: 700;
    margin: 39px 0 0;
  }
  
  .u-section-3 .u-text-2 {
    line-height: 2;
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-btn-1 {
    background-image: none;
    border-style: solid;
    margin: 20px auto 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 689px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-bottom: 18px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 346px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 346px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 646px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-top: 137px;
      margin-bottom: 0;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 265px;
    }
  
    .u-section-3 .u-image-1 {
      width: 216px;
      height: 216px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 896px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-bottom: 37px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 245px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 866px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-top: 55px;
      margin-bottom: 0;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 154px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 3rem;
    }
  } .u-section-4 {
    background-image: none;
    min-height: 1208px;
  }
  
  .u-section-4 .u-image-1 {
    height: 665px;
    margin-top: 0;
    margin-bottom: 0;
    object-position: 50% 0%;
  }
  
  .u-section-4 .u-layout-wrap-1 {
    width: 1140px;
    margin: -309px auto 0;
  }
  
  .u-section-4 .u-layout-cell-1 {
    min-height: 92px;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-4 .u-layout-cell-2 {
    min-height: 378px;
    background-image: none;
  }
  
  .u-section-4 .u-container-layout-2 {
    padding: 30px 20px;
  }
  
  .u-section-4 .u-icon-1 {
    height: 78px;
    width: 78px;
    background-image: none;
    margin: 0 auto;
  }
  
  .u-section-4 .u-text-1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 20px 1px 0 0;
  }
  
  .u-section-4 .u-text-2 {
    font-style: normal;
    margin: 20px 10px 0 9px;
  }
  
  .u-section-4 .u-btn-1 {
    border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px auto 0;
    padding: 0;
  }
  
  .u-section-4 .u-layout-cell-3 {
    min-height: 378px;
  }
  
  .u-section-4 .u-container-layout-3 {
    padding: 30px 20px;
  }
  
  .u-section-4 .u-icon-2 {
    height: 78px;
    width: 78px;
    background-image: none;
    color: rgb(2, 2, 2) !important;
    margin: 0 auto;
  }
  
  .u-section-4 .u-text-3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 20px 1px 0 0;
  }
  
  .u-section-4 .u-text-4 {
    font-style: normal;
    margin: 20px 10px 0 9px;
  }
  
  .u-section-4 .u-btn-2 {
    border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px auto 0;
    padding: 0;
  }
  
  .u-section-4 .u-layout-cell-4 {
    min-height: 95px;
  }
  
  .u-section-4 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-4 .u-layout-cell-5 {
    min-height: 95px;
  }
  
  .u-section-4 .u-container-layout-5 {
    padding: 30px;
  }
  
  .u-section-4 .u-layout-cell-6 {
    min-height: 375px;
  }
  
  .u-section-4 .u-container-layout-6 {
    padding: 30px 20px;
  }
  
  .u-section-4 .u-icon-3 {
    height: 78px;
    width: 78px;
    background-image: none;
    margin: 0 auto;
  }
  
  .u-section-4 .u-text-5 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 20px 1px 0 0;
  }
  
  .u-section-4 .u-text-6 {
    font-style: normal;
    margin: 20px 10px 0 9px;
  }
  
  .u-section-4 .u-btn-3 {
    border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px auto 0;
    padding: 0;
  }
  
  .u-section-4 .u-layout-cell-7 {
    min-height: 371px;
  }
  
  .u-section-4 .u-container-layout-7 {
    padding: 30px 20px;
  }
  
  .u-section-4 .u-icon-4 {
    height: 78px;
    width: 78px;
    background-image: none;
    margin: 0 auto;
  }
  
  .u-section-4 .u-text-7 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 20px 1px 0 0;
  }
  
  .u-section-4 .u-text-8 {
    font-style: normal;
    margin: 20px 10px 0 9px;
  }
  
  .u-section-4 .u-btn-4 {
    border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px auto 0;
    padding: 0;
  }
  
  .u-section-4 .u-layout-cell-8 {
    min-height: 99px;
  }
  
  .u-section-4 .u-container-layout-8 {
    padding: 30px;
  }
  
  .u-section-4 .u-layout-wrap-2 {
    width: 1140px;
    margin: 40px auto 44px;
  }
  
  .u-section-4 .u-layout-cell-9 {
    min-height: 316px;
  }
  
  .u-section-4 .u-container-layout-9 {
    padding: 30px 26px;
  }
  
  .u-section-4 .u-text-9 {
    text-transform: none;
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0 8px 0 0;
  }
  
  .u-section-4 .u-layout-cell-10 {
    min-height: 316px;
  }
  
  .u-section-4 .u-container-layout-10 {
    padding: 30px 29px;
  }
  
  .u-section-4 .u-text-10 {
    letter-spacing: 0px;
    background-image: none;
    font-weight: normal;
    text-transform: none;
    margin: 0 2px 0 0;
  }
  
  .u-section-4 .u-btn-5 {
    font-size: 1rem;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: none;
    margin: 30px auto 0 0;
    padding: 10px 45px 10px 44px;
  }
  
  @media (max-width: 1199px) {
     .u-section-4 {
      min-height: 1070px;
    }
  
    .u-section-4 .u-layout-wrap-1 {
      width: 940px;
    }
  
    .u-section-4 .u-layout-cell-1 {
      min-height: 76px;
    }
  
    .u-section-4 .u-layout-cell-2 {
      min-height: 312px;
    }
  
    .u-section-4 .u-icon-1 {
      color: rgb(77, 77, 77) !important;
    }
  
    .u-section-4 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-4 .u-text-2 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-4 .u-layout-cell-3 {
      min-height: 312px;
    }
  
    .u-section-4 .u-text-3 {
      margin-right: 0;
    }
  
    .u-section-4 .u-text-4 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-4 .u-layout-cell-4 {
      min-height: 78px;
    }
  
    .u-section-4 .u-layout-cell-5 {
      min-height: 78px;
    }
  
    .u-section-4 .u-layout-cell-6 {
      min-height: 309px;
    }
  
    .u-section-4 .u-icon-3 {
      color: rgb(77, 77, 77) !important;
    }
  
    .u-section-4 .u-text-5 {
      margin-right: 0;
    }
  
    .u-section-4 .u-text-6 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-4 .u-layout-cell-7 {
      min-height: 306px;
    }
  
    .u-section-4 .u-icon-4 {
      color: rgb(77, 77, 77) !important;
    }
  
    .u-section-4 .u-text-7 {
      margin-right: 0;
    }
  
    .u-section-4 .u-text-8 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-4 .u-layout-cell-8 {
      min-height: 82px;
    }
  
    .u-section-4 .u-layout-wrap-2 {
      width: 940px;
    }
  
    .u-section-4 .u-layout-cell-9 {
      min-height: 261px;
    }
  
    .u-section-4 .u-text-9 {
      margin-right: 0;
    }
  
    .u-section-4 .u-layout-cell-10 {
      min-height: 261px;
    }
  
    .u-section-4 .u-text-10 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-4 {
      min-height: 964px;
    }
  
    .u-section-4 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .u-section-4 .u-layout-cell-1 {
      min-height: 116px;
    }
  
    .u-section-4 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-4 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-4 .u-layout-cell-4 {
      min-height: 119px;
    }
  
    .u-section-4 .u-layout-cell-5 {
      min-height: 119px;
    }
  
    .u-section-4 .u-layout-cell-6 {
      min-height: 100px;
    }
  
    .u-section-4 .u-layout-cell-7 {
      min-height: 100px;
    }
  
    .u-section-4 .u-layout-cell-8 {
      min-height: 126px;
    }
  
    .u-section-4 .u-layout-wrap-2 {
      width: 720px;
    }
  
    .u-section-4 .u-layout-cell-9 {
      min-height: 100px;
    }
  
    .u-section-4 .u-layout-cell-10 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-4 {
      min-height: 1461px;
    }
  
    .u-section-4 .u-image-1 {
      object-position: 3.83% 0%;
    }
  
    .u-section-4 .u-layout-wrap-1 {
      width: 540px;
    }
  
    .u-section-4 .u-layout-cell-1 {
      min-height: 174px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-layout-cell-4 {
      min-height: 179px;
    }
  
    .u-section-4 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-layout-cell-5 {
      min-height: 179px;
    }
  
    .u-section-4 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-7 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-layout-cell-8 {
      min-height: 189px;
    }
  
    .u-section-4 .u-container-layout-8 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-layout-wrap-2 {
      width: 540px;
    }
  
    .u-section-4 .u-container-layout-9 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-10 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-4 {
      min-height: 1261px;
    }
  
    .u-section-4 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .u-section-4 .u-layout-cell-1 {
      min-height: 110px;
    }
  
    .u-section-4 .u-layout-cell-4 {
      min-height: 113px;
    }
  
    .u-section-4 .u-layout-cell-5 {
      min-height: 113px;
    }
  
    .u-section-4 .u-layout-cell-8 {
      min-height: 119px;
    }
  
    .u-section-4 .u-layout-wrap-2 {
      width: 340px;
    }
  
    .u-section-4 .u-text-9 {
      font-size: 3.75rem;
    }
  } .u-section-5 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/dfg-min.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-sheet-1 {
    min-height: 223px;
  }
  
  .u-section-5 .u-form-1 {
    width: 670px;
    height: 403px;
    margin: 170px auto 70px;
  }
  
  .u-section-5 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-5 .u-form-group-4 {
    margin-left: 0;
  }
  
  .u-section-5 .u-form-group-5 {
    margin-left: 0;
  }
  
  .u-section-5 .u-form-group-6 {
    margin-left: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
      min-height: 184px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-5 .u-sheet-1 {
      min-height: 141px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-sheet-1 {
      min-height: 106px;
    }
  
    .u-section-5 .u-form-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
      min-height: 67px;
    }
  
    .u-section-5 .u-form-1 {
      width: 340px;
    }
  } .u-section-6 {
    background-image: none;
  }
  
  .u-section-6 .u-sheet-1 {
    min-height: 316px;
  }
  
  .u-section-6 .u-social-icons-1 {
    height: 32px;
    min-height: 16px;
    width: 116px;
    min-width: 68px;
    margin: 60px auto 0;
  }
  
  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px auto 0;
  }
  
  .u-section-6 .u-text-2 {
    font-size: 4.5rem;
    width: 780px;
    font-weight: 700;
    margin: 36px auto 0;
  }
  
  .u-section-6 .u-btn-1 {
    font-size: 1rem;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: none;
    margin: 30px auto 60px;
    padding: 10px 45px 10px 44px;
  }
  
  @media (max-width: 991px) {
    .u-section-6 .u-text-2 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-6 .u-sheet-1 {
      min-height: 389px;
    }
  
    .u-section-6 .u-text-2 {
      width: auto;
      margin-top: 37px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-6 .u-btn-1 {
      margin-top: 29px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-6 .u-text-2 {
      font-size: 3.75rem;
    }
  }